<ul>
  <li>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </li>

  <li>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </li>

  <li>
    <%= f.label :completion_status, "Status" %>
    <%= f.select :completion_status, @task_status_options %>
  </li>

  <li>
    <%= f.label :completed_at, "Date/time completed" %>
    <%= f.date_field :completed_at %>
  </li>
  <%= f.submit %>
</ul>
