<% Time.zone = "Pacific Time (US & Canada)" %>
<ul>
  <li>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </li>

  <li>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </li>

  <li>
    <%= f.label :completion_status, "Status" %>
    <%= f.select :completion_status, @task_status_options %>
  </li>

  <li>
    <%= f.label :completed_at, "Date/time completed" %>
    <%= f.datetime_local_field :completed_at %>
  </li>
  <%= f.submit "Save", class: "button success" %>
  <p>  </p>
  <p>  </p>
  <p>
    <%= link_to "Go home", tasks_path, class: "secondary button tiny"%>
  </p>
</ul>
