<main>
  <%= content_tag(:h1) { "Task List" } %>
  <%= link_to("Add a new task", tasks_new_path) %>
  <%= content_tag(:h3) { "Tasks To Do" } %>
  <ul>
    <% @incomplete_tasks.each do |t| %>
    <%= render partial: "index_list", locals: {t:t} %>
    <% end %>
  </ul>
  <%= content_tag(:h3) { "Completed Tasks" } %>
  <ul>
    <% @complete_tasks.each do |t| %>
    <%= render partial: "index_list", locals: {t:t} %>
    <% end %>
  </ul>
</main>
