<main>
  <%= content_tag(:h1) { "Tasks To Do" } %>
  <ul>
    <% @tasks.each do |t| %>
    <li>
      <%= content_tag(:span) { t.title }%>
      <%= link_to("view", task_path(t)) %>
      <%= link_to("edit", task_edit_path(t)) %>
      <%= link_to("delete", task_path(t), method: :delete, data: { confirm: "Are you sure you want to delete this task?" }) %>
      <%= button_to "Mark complete", task_complete_path(t), method: :patch %>
    </li>
    <p>

    </p>
    <% end %>
  </ul>
  <%= link_to "Add a new task", tasks_new_path %>
</main>
