<main>
  <article>
    <%= content_tag(:h1) { "To do: #{@task.title}" } %>
    <p>
      <%= link_to "Edit this task", task_edit_path(@task) %>
    </p>
    <%= content_tag(:p) { "Description: #{@task.description}" } %>
    <%= content_tag(:h5) { "Status: #{@task.completion_status}" } %>
    <%= content_tag(:h5) { "Completion Date: #{@task.completed_at}" } %>
  </article>
  <p>
    <%= link_to "Go home", tasks_path %>
  </p>
</main>
